<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Timetable.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Timetable.Properties.Settings>
            <setting name="Faculty" serializeAs="String">
                <value />
            </setting>
            <setting name="EducForm" serializeAs="String">
                <value />
            </setting>
            <setting name="Course" serializeAs="String">
                <value />
            </setting>
            <setting name="StudyGroup" serializeAs="String">
                <value />
            </setting>
            <setting name="_renameList" serializeAs="String">
                <value>{}</value>
            </setting>
        </Timetable.Properties.Settings>
    </userSettings>
</configuration>