<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LightTimetable.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LightTimetable.Properties.Settings>
            <setting name="Faculty" serializeAs="String">
                <value />
            </setting>
            <setting name="EducationForm" serializeAs="String">
                <value />
            </setting>
            <setting name="Course" serializeAs="String">
                <value />
            </setting>
            <setting name="StudyGroup" serializeAs="String">
                <value />
            </setting>
            <setting name="_renames" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="ShowBlackouts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowPossibleBlackouts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DTEKGroup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_notes" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpenWindowMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MiddleMouseClick" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowRiggedSchedule" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ShowTeamsEvents" serializeAs="String">
                <value>False</value>
            </setting>
        </LightTimetable.Properties.Settings>
    
</userSettings>
</configuration>